/* body {
    background-color: rgb(238, 231, 225);
  }

  header {
    background-color: rgb(26, 31, 116);
  } */

  svg:hover .navItem:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  
  svg .navItem {
    transform: none;
    transition: transform 0.3s ease;
  }
  
  