doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gestion Étudiants et Groupes
    link(rel="stylesheet" href="/style/main.css")
  body
    header
      nav
        ul
          li: a(href="/students") Gérer les Étudiants
          li: a(href="/groups") Gérer les Groupes
    h1 Bienvenue dans l'application de gestion des étudiants et groupes
    
    .logo-container
      img.logo(src="/images/logo.png" alt="Logo de l'application")
    
    footer
      p © 2025 Gestion Étudiants et Groupes.
      p Développé par [CHBARI Amine]