
body {
  background-color: rgb(255, 255, 255);
  text-align : center;
}
#terrain {
    background-color : #000000;
  border : solid 5px rgb(69, 68, 68);

}

div#control {
  text-align : center;
  margin : 10px;
}

button#newBall {
}